.input{
    input{
        padding: var(--input-space);
        border: 1px solid var(--gray-lighter) !important;
        outline: none !important;
        &::placeholder{
            font-weight: var(--weight-400);
            letter-spacing: var(--letter-spacing);
            color: var(--border-color);
            font-size: var(--fs-normal);
        }
        transition: all .35s ease;
        &:hover{
            border-color: var(--border-color) !important;
        }
    }
    position: relative;
    > div{
        position: absolute !important;
        left: 26px;
        top: 50%;
        transform: translateY(-50%);
    }
    display: inline-block;
}
.error{
    color: red;
    padding-top: 15px;
}
.input-error{
    border-color: red !important;
}

@media screen and (max-width: 768px) {
    .error{
        font-size: var(--fs-small);
    }
}