.line{
    background: var(--black);
    height: 1px;
}
.grid{
    grid-template-columns: repeat(3, 1fr);
}
.container{
    margin-top: 0;
}

@media screen and (max-width: 991px) {
    .grid{
        grid-template-columns: repeat(1, 1fr);
    }
}