.swiper{
    padding-bottom: 46px;
    position: relative;
}
.left, .right{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 25;
    cursor: pointer;
    transition: all .35s ease-in-out;
    svg{
        transition: all .35s ease-in-out;
    }
}
.left{
    left: 0;
}
.right{
    right: 0;
    svg{
        transform: rotate(180deg);
    }
}