.container{
    margin: var(--xxl-size) 0;   
}
.image{
    img{
        min-width: 830px;
    }
}
.text{
    width: 618px;
    word-break: break-word;
    box-shadow: var(--shadow-button-primary);
    img{
        width: 30px;
        height: 24px !important;
        position: absolute;
        left: 32px;
        top: 40%;
        transform: translateY(50%);
    }
    padding: var(--size-space);
    position: absolute;
    background: rgba($color: #fff, $alpha: .8);
    z-index: 5;
    left: 0;
    transform: translateY(-50%);
    h5{
        font-size: 24px;
        letter-spacing: 1.5px;
        font-weight: 700;
        padding-bottom: var(--middle-space);
        letter-spacing: var(--letter-spacing-normal);
        margin: 0;
        text-transform: uppercase;
        line-height: 36px;
    }
    font-size: var(--fs-normal);
    line-height: 26px;
    letter-spacing: 1px;
    font-weight: var(--weight-400);
    p{
        line-height: var(--line-height-primary);
        letter-spacing: var(--letter-spacing);
        font-size: var(--fs-normal);
        font-weight: var(--weight-400);
    }
}
.title-item{
    padding-left: 40px;
    letter-spacing: var(--letter-spacing);
}
.container-line{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
@media screen and (max-width: 1200px) {
    .image{
        min-width: 600px;
        img{
            min-width: 600px;
            width: 600px;
        }
    }
}

@media screen and (max-width: 991px) {
    .image{
        min-width: 450px;
        img{
            min-width: 450px;
            width: 450px;
        }
    }
    .text{
        width: 500px;
    }
}
@media screen and (max-width: 768px) {
    .text{
        position: static;
        box-shadow: none;
        padding: 0 0 var(--pd-48) 0;
        line-height: 20px;
        h5{
            padding-bottom: 4px;
            font-size: var(--fs-large);
            line-height: var(--size-space);
        }
        p{
            font-size: var(--fs-small);
            line-height: 20px;
            letter-spacing: var(--letter-spacing);
        }
        
    }
    .title-item{
        padding: 0;
    }
    .container-line{
        padding-bottom: 0 !important;
        .container{
            margin-top: 0;
            display: grid !important;
            grid-template-columns: repeat(1, 1fr);
            gap: var(--pd-12);
            .image{
                max-width: 100%;
            }
            margin-bottom: 0 !important;
            
        }
        padding-top: 0;
    }
    .text, .image{
        max-width: 100%;
        min-width: 100%;
        min-width: 100%;
        width: 100%;
        img{
            width: 100%;
            min-width: 100%;
        }
    }
}
