.container {
  list-style: none;
  padding-top: var(--pagination-space);
  padding-left: 0;
  li {
    width: var(--w-36);
    height: var(--w-36);
    border-radius: 50%;
    box-shadow: var(--shadow-button-primary);
    margin: 0 var(--xs-size);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--fs-small);
    font-weight: var(--weight-700);
    letter-spacing: var(--letter-spacing);
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      background: var(--orange-primary);
      box-shadow: var(--shadow-primary);
      color: var(--white);
    }
  }
}
.btn--direction {
  background: var(--white) !important;
  color: var(--black) !important;
  cursor: pointer;
}
.disabled {
  pointer-events: none;
  background: rgba($color: #fff, $alpha: 0.5);
}
.active {
  background: var(--orange-primary);
  color: var(--white);
}
