.container{
    h4{
        font-size: 24px;
        letter-spacing: var(--letter-spacing-secondary);
        text-align: center;
        padding-bottom: 48px;
    }
}

@media screen and (max-width: 768px) {
    .container{
        h4{
            font-size: var(--fs-large) !important;
            padding-bottom: var(--mg-16) !important;
            line-height: 32px;
            letter-spacing: var(--letter-spacing-normal);
        }
    }
}

