.container{
    border: 1px solid var(--gray-lighter);
    width: 100%;
    h5{
        font-size: var(--fs-normal);
        font-weight: var(--weight-700);
        border-bottom: 1px solid var(--gray-lighter);
        padding: var(--size-space);
        text-transform: uppercase;
    }
    letter-spacing: var(--letter-spacing);
    .box{
        padding: 0 var(--size-space);
        & > div{
            &:last-child{
                border-bottom: none;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .container{ 
        h6{
            font-size: var(--fs-small);
        }
        .box{
            padding: 0 var(--middle-space);
        }
        h5{
            padding: var(--middle-space);
        }
    }
}
