@import '../../../styles/grid';
.grid{
    @include grid-template-column(2, 30px);
}
.information{
    line-height: var(--line-height-primary);
    h5{
        padding-bottom: var(--size-space);
        margin: 0;
        font-weight: var(--weight-700);
        font-size: var(--fs-xxl);
        text-transform: uppercase;
        letter-spacing: 1.5px;

    }
    ul{
        list-style: none;
        padding: 0;
        li{
            & > div{
                top: -2px;
            }
            font-size: var(--fs-normal);
            font-weight: var(--weight-400);
            letter-spacing: var(--letter-spacing);
            span{
                padding-left: var(--mds-size);
            }
            padding-bottom: var(--md-size);
            &:last-child{
                padding-bottom: 0;
            }
        }
    }
    .social{
        a{
            display: block;
            background: var(--black-primary);
            width: var(--size-space);
            height: var(--size-space);
            position: relative;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            &:last-child{
                margin-left: var(--size-space);
            }
        }
        padding-top: 3px;
    }
}
.box{
    h4{
        margin-bottom: 0;
        padding-bottom: var(--xxl-size);
        letter-spacing: var(--letter-spacing-secondary);
    }
    margin-top: -150px;
    margin-bottom: var(--pd-64);
    
}
.text{
    border: 1px solid var(--gray-lighter);
    padding: var(--middle-space);
    resize: none;
    outline: none;
    line-height: normal;
}
.button{
    padding-top: var(--size-space);
    text-align: end;
    button{
        border: none;
        background: var(--orange-primary);
        color: var(--white);
        text-transform: uppercase;
        font-size: var(--fs-normal);
        font-weight: var(--weight-700);
        width: 173px;
        height: 56px;
        padding: 0;
    }
}

@media screen and (max-width: 768px) {
    .grid{
        @include grid-template-column(1, var(--pd-20));
    }
    .information{
        ul{
            li{
                padding-bottom: 8px;
                letter-spacing: var(--letter-spacing);
                line-height: 20px;
                span{
                    padding-left: 13px;
                    font-size: var(--fs-small);
                }
            }
        }
        h5{
            font-size: var(--fs-nlarge);
            padding-bottom: 18px;
        }
    }
    .box{
        h4{
            padding-bottom: var(--middle-space);
            line-height: 36px;
        }
        input{
            padding: var(--pd-12) var(--mg-16) !important;
            &::placeholder{
                font-size: var(--fs-small);
            }
        }
        textarea{
            &::placeholder{
                font-size: var(--fs-small);
            }
        }
    }
    .input{
        padding-bottom: 8px;
    }
    .button{
        padding-top: 0;
        button{
            width: 100%;
            height: 44px;
        }
        margin-top: -5px;
    }
    .text{
        padding: var(--mg-16) var(--pd-12);
    }
}

@media screen and (max-width: 576px) {
    .box{
        h4{
            max-width: 230px;
            margin: 0 auto;
        }
    }
}